apiVersion: newrelic.com/v1alpha1
kind: NRIBundle
metadata:
  name: nribundle
  namespace: {{.Release.Namespace}}
spec:
{{- if $global := omit .Values.global "licenseKey" }}
  global:
{{ toYaml $global | indent 4 }}
{{- end }}
{{- $values := omit .Values "global" "newRelicLicenseKey" }}
{{ toYaml $values | indent 2 }}
